.rihide {
    display: none;
  }
  
  #richeckfalse {
    cursor: pointer;
  }
  
  #richecktrue {
    cursor: pointer;
  }
  
  .ricorrect {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .riincorrect {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .riitem {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #111;
    background-color: #efefef;
    border-color: #dfdfdf;
  }
  h1 {
    color: #0b0f2bbf;
    font-family: arial;
    font-weight: 400;
    text-align: center;
    padding: 24px;
    margin-top: 0px;
    margin-bottom: 32px;
}

h2 {
    color: #464958;
    font-family: system-ui;
    margin: 16px;
    font-weight: 500;
}

p {
  font-size: 16px;
  font-family: arial;
  padding: 16px;
}

section {
    background:#00000005;
    border-radius: 10px;
    padding:10px;
    font-size: 12pt;
    font-family: Verdana;
}    

span {
    font-weight: 600;
}

#radioTrue {
    background: #fff9e6;
    border: 1px solid #ddce98;
    border-radius: 8px;
    padding: 8px;
    height: 32px;
    margin: 16px;
}

#radioTrue:hover {
    background: #efe9d4;
}

#radioFalse {
    background: #fff9e6;
    border: 1px solid #ddce98;
    border-radius: 8px;
    padding: 8px;
    height: 32px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
}

#radioFalse:hover {
    background: #efe9d4;
}

@media screen and (min-width: 800px){
       
main{
    width: 1040px;
    margin-left: auto;
    margin-right: auto; 
    display:grid;
    grid-gap: 24px;
}

.question1{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.question2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.question3{ 
    grid-column: 1 / 3;
    grid-row:3 / 3;
}
        
.question4 {
   grid-column: 2 / 3;
   grid-row: 3 / 3;
  }
  
.question5 {
grid-column: 1 / 3;
grid-row: 3 / 3;
}
}